@font-face {
  font-family: 'Commodore Rounded';
  src: url('../fonts/CommodoreRounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #245919;
  color: #000000;
  font-family: "Commodore Rounded", Arial, Helvetica, sans-serif;
}

.duckdash-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.hero-text {
    width: 100%;
    max-width: 450px;
    font-size: 1.3rem;
    text-align: center;
}

.unity-column {
    width: 100%;
    display: flex;
    justify-content: center;
}

#unity-container,
#unity-container canvas {
    width: 100%;
    height: auto;
    max-width: 960px;
}

#unity-container canvas {
    max-height: 90vh;
    object-fit: contain;
}

@media (min-width: 1080px) {
    .duckdash-hero {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .hero-text {
        max-width: 250px;
        text-align: center;
    }

    #unity-container,
    #unity-container canvas {
        max-width: 800px;
        max-height: 85vh;
    }
}
