@font-face {
  font-family: 'Cascadia Mono';
  src: url('../fonts/CascadiaMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(0, 0, 0);
  color: #187320;
  font-family: "Cascadia Mono", monospace, Arial, Helvetica, sans-serif;
}

.main-text{
  display: flex; /* Use Flexbox for centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide any overflow */
  font-size: 5vh;
}

.navbar {
  opacity: 1 !important;
}

.image-container {
  display: flex; /* Use Flexbox for centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide any overflow */
}

.image-container img {
  max-width: 100%; /* Scale to fit horizontally */
  max-height: 100%; /* Scale to fit vertically */
  object-fit: contain; /* Maintain aspect ratio and fit within bounds */
}